@model StrawmanApp.Entities.KpiModel
@{
    string data_editable = Model.data_editable ? " data-editable=\"true\"" : "";
<thead @Html.Raw(data_editable)>
    <tr style="@Model.titleRowStyle"><th colspan="4">@Model.title</th></tr>
    <tr><td colspan="4" style="border:0; font-size:0.5em;">&nbsp;</td></tr>
    <tr style="@Model.headRowStyle">
    <th style="@Model.head[0].colStyle">@Model.head[0].text</th>
    <th style="@Model.head[1].colStyle">@Model.head[1].text</th>
    <th style="@Model.head[2].colStyle">@Model.head[2].text</th>
    <th style="@Model.head[3].colStyle">@Model.head[3].text</th>
</tr>
</thead>
}