@model List<StrawmanApp.Models.FormUtilModel.ButtonsGroup>
@foreach(StrawmanApp.Models.FormUtilModel.ButtonsGroup grp in Model){
    string _align = grp._float == null ? "" : grp._float == StrawmanApp.Models.FormUtilModel.ButtonsGroup.right ? " float-right" : " float-left";
   
<div class="config-wrapper@_align" style="margin: 2px; display:inline-block;" > 
    @if (grp.label_text != null)
    {
    <h5 class="h5" style="padding: 2px 1em;display:inline-block">@grp.label_text </h5>
    }
  @foreach (StrawmanApp.Models.FormUtilModel.Button btn in grp.Buttons)
  {
      string _class = btn.success != null ? btn.success : btn._class != null? btn._class:"btn-default";
      string _dataController = btn.controller !=null?" data-btn-target=\"../"+btn.controller+"/" + btn.target+"\" ": " data-btn-target=\""+btn.target+"\" ";
      _dataController = _dataController + btn.dataAttr;
   <button type="button" class="btn @_class" data-btn-type="@btn.type"@Html.Raw(_dataController) data-btn-variable="@btn.variable" >@btn.text</button>
  }
</div>
}