@model dynamic
<tr><td colspan="6">&nbsp;</td></tr>
@{  decimal? t = 0;
    string _style = "text-align:center;";
    List<StrawmanApp.Entities.ShareBoardModel> lst = (List<StrawmanApp.Entities.ShareBoardModel>)Model;
    foreach (StrawmanApp.Models.MarketViewChannelModels item in ViewBag.MarketViewChannelsMAT)
    {
        StrawmanApp.Entities.ShareBoardModel data = lst.Find(m => m.channel == item.vchannel);
        _style += item.style;
        ViewDataDictionary _styleData = new ViewDataDictionary { { "_style", _style }, { "channel", item == null ? 0 : item.vchannel } };
        bool is_wc = item.is_wc != null && item.is_wc;
            <tr class="grid-row" @{Html.RenderPartial("~/Views/StrawmanViews/MasterTable/_TrStyleChannel.cshtml", new ViewDataDictionary { { "_style", _style }, { "channel", item.vchannel }});}>     
                <td data-type="pc" data-value="@Html.DisplayFor(m => data.mat_col1)" class="grid-cell">@Html.DisplayFor(m => data.mat_col1)</td>
                <td data-type="pc" data-value="@Html.DisplayFor(m => data.mat_col2)" class="grid-cell">@Html.DisplayFor(m => data.mat_col2)</td>
                <td data-type="pc" data-value="@Html.DisplayFor(m => data.mat_col3)" class="grid-cell">@Html.DisplayFor(m => data.mat_col3)</td>
                <td data-value="@Html.DisplayFor(m => data.mat_col4)" class="grid-cell">@Html.DisplayFor(m => data.mat_col4)</td>
                <td data-type="amount" data-value="@data.mat_col5" class="grid-cell">@Html.DisplayFor(m => data.mat_col5)</td>
                <td data-type="amount" data-value="@data.mat_col6" class="grid-cell">@Html.DisplayFor(m => data.mat_col6)</td>  
            </tr>
        t = item.vgroup;
    } 
}