@model dynamic
<tr><td colspan="6">&nbsp;</td></tr>
@{  decimal? t = 0;
    List<StrawmanApp.Entities.ShareBoardModel> lst = (List<StrawmanApp.Entities.ShareBoardModel>)Model;
    foreach (StrawmanApp.Models.MarketViewChannelModels item in ViewBag.MarketViewChannelsYTD)
    {
        StrawmanApp.Entities.ShareBoardModel data = lst.Find(m => m.group == item.vid);
        string _style = "";
        _style = "background-color: rgb(255,0,0);color:rgb(255,255,255);";
        if (item.vchannel == 9) { _style = "background-color: rgb(0,102,255);color:rgb(255,255,255);"; }
        if (item.vchannel == 999999) { _style = "background-color: rgb(0,255,0);color:rgb(0,0,0);"; }  
            <tr class="grid-row" style="text-align:center;@_style">     
                <td class="grid-cell">@Html.DisplayFor(m => data.ytd_col1)</td>
                <td class="grid-cell">@Html.DisplayFor(m => data.ytd_col2)</td>
                <td class="grid-cell">@Html.DisplayFor(m => data.ytd_col3)</td>
                <td class="grid-cell">@Html.DisplayFor(m => data.ytd_col4)</td>
                <td class="grid-cell">@Html.DisplayFor(m => data.ytd_col5)</td>
                <td class="grid-cell">@Html.DisplayFor(m => data.ytd_col6)</td>     
            </tr>
        t = item.vgroup;
    } 
}