@model dynamic
<tr class="grid-row" style="text-align:center;"> <td colspan="3" class="grid-cell" style="text-align: right; font-weight:bold; border:0;">&nbsp;</td></tr>
<tr><td colspan="6">&nbsp;</td></tr>
@{  decimal? t = 0;
    List<StrawmanApp.Entities.ShareBoardModel> lst = (List<StrawmanApp.Entities.ShareBoardModel>)Model;
    foreach (StrawmanApp.Models.MarketViewChannelModels item in ViewBag.MarketViewKeybrandsMonth)
    {
        StrawmanApp.Entities.ShareBoardModel data = lst.Find(m => m.id == item.vid);
        string _style = "", _pc = (item.pcvspy == null) ? "&nbsp;" : "%";
        if (item.vid == 999) { _style = "background-color: rgb(0,102,255);color:rgb(255,255,255);"; }
        if (item.vid == 999999) { _style = "background-color: rgb(0,255,0);color:rgb(0,0,0);"; }   
            <tr class="grid-row" style="text-align:center;@_style">                     
                <td data-type="pc" data-value="@Html.DisplayFor(m => data.month_col1)" class="grid-cell" style ="@(data.month_col1 < 0 && (item.vid != 999 && item.vid != 999999) ? "color:rgb(255,0,0);" : "")">@Html.DisplayFor(m => data.month_col1)</td>
                <td data-type="pc" data-value="@Html.DisplayFor(m => data.month_col2)" class="grid-cell" style ="@(data.month_col2 < 0 && (item.vid != 999 && item.vid != 999999) ? "color:rgb(255,0,0);" : "")">@Html.DisplayFor(m => data.month_col2)</td>
                <td data-type="pc" data-value="@Html.DisplayFor(m => data.month_col3)" class="grid-cell" style ="@(data.month_col3 < 0 && (item.vid != 999 && item.vid != 999999) ? "color:rgb(255,0,0);" : "")">@Html.DisplayFor(m => data.month_col3)</td>
                <td class="grid-cell" data-value="@Html.DisplayFor(m => data.month_col4)" style ="@(data.month_col4 < 0 && (item.vid != 999 && item.vid != 999999) ? "color:rgb(255,0,0);" : "")">@Html.DisplayFor(m => data.month_col4)</td>
                <td data-type="amount" data-value="@data.month_col5" class="grid-cell" style ="@(data.month_col5 < 0 && (item.vid != 999 && item.vid != 999999) ? "color:rgb(255,0,0);" : "")">@Html.DisplayFor(m => data.month_col5)</td>
                <td data-type="amount" data-value="@data.month_col6" class="grid-cell" style ="@(data.month_col6 < 0 && (item.vid != 999 && item.vid != 999999) ? "color:rgb(255,0,0);" : "")">@Html.DisplayFor(m => data.month_col6)</td> 
            </tr>
        t = item.vgroup;
    } 
}