@model dynamic
<tr class="grid-row" style="text-align:center;"> <td colspan="3" class="grid-cell" style="text-align: right; font-weight:bold; border:0;">&nbsp;</td></tr>
<tr><td colspan="6">&nbsp;</td></tr>
@{  decimal? t = 0;
    string _style = "text-align:center;";
    string _styleView = "_TrStyleFranchise";
    List<StrawmanApp.Entities.ShareBoardModel> lst = (List<StrawmanApp.Entities.ShareBoardModel>)Model;
    foreach (StrawmanApp.Models.MarketViewChannelModels item in ViewBag.MarketViewFranchiseData)
    {
        StrawmanApp.Entities.ShareBoardModel data = lst.Find(m => m.id == item.vid);
        ViewDataDictionary _styleData = new ViewDataDictionary() { { "_style", _style }, { "has_child", item.vhas_child }, { "id", item.vid }, { "parent", item.vparent }, { "order", item.vorder } };
        if (data == null) { data = new StrawmanApp.Entities.ShareBoardModel(); }    
            <tr class="grid-row" @{Html.RenderPartial("~/Views/StrawmanViews/MasterTable/"+_styleView+".cshtml", _styleData);}>
                <td data-type="pc" data-value="@Html.DisplayFor(m => data.ytd_col1)" class="grid-cell">@Html.DisplayFor(m => data.ytd_col1)</td>
                <td data-type="pc" data-value="@Html.DisplayFor(m => data.ytd_col2)" class="grid-cell">@Html.DisplayFor(m => data.ytd_col2)</td>
                <td data-type="pc" data-value="@Html.DisplayFor(m => data.ytd_col3)" class="grid-cell">@Html.DisplayFor(m => data.ytd_col3)</td>
                <td data-value="@Html.DisplayFor(m => data.ytd_col4)" class="grid-cell">@Html.DisplayFor(m => data.ytd_col4)</td>
                <td data-type="amount" data-value="@data.ytd_col5" class="grid-cell">@Html.DisplayFor(m => data.ytd_col5)</td>
                <td data-type="amount" data-value="@data.ytd_col6" class="grid-cell">@Html.DisplayFor(m => data.ytd_col6)</td>  
            </tr>
        t = item.vgroup;
    } 
}