@model List<StrawmanApp.Models.MarketViewChannelModels>

<tr class="grid-row" style="text-align:center;"> <td colspan="5" class="grid-cell" style="text-align: right; font-weight:bold; border:0;">&nbsp;</td></tr>
<tr><td colspan="5">&nbsp;</td></tr>
@{  decimal? t = 0;
    foreach (StrawmanApp.Models.MarketViewChannelModels item in Model)
    {
        string _style = "", _pc = (item.col1 == null) ? "&nbsp;" : "%";
        if(item.vorder == item.vgroup) {_style = "background-color: rgb(128,0,128);color:rgb(255,255,255);";}
        if (item.vid == 999999) { _style = "background-color: rgb(255,192,0);font-size:bold;"; }
        if (item.vid == item.vorder) { _style = "background-color: rgb(255,0,0);color:rgb(255,255,255);"; }
        if (item.vparent == 999999) { _style = "background-color: rgb(0,255,0);color:rgb(0,0,0);"; }       
            <tr class="grid-row" style="text-align:center;@_style">
                @if (item.col1 == null)
                {
                        <td class="grid-cell">&nbsp;</td>
                }else{
                        <td data-type="pc" class="grid-cell">@Html.DisplayFor(m => item.col1)@_pc</td>    
                }
                @if (item.col2 == null)
                {
                        <td class="grid-cell">&nbsp;</td>
                }
                else
                {                                        
                        <td data-type="pc" class="grid-cell">@Html.DisplayFor(m => item.col2)@_pc</td>
                }
                @if (item.col3 == null)
                {
                        <td class="grid-cell">&nbsp;</td>
                }
                else
                { 
                        <td class="grid-cell">@Html.DisplayFor(m => item.col3)@_pc</td>
                }
                @if (item.col4 == null)
                {
                        <td class="grid-cell">&nbsp;</td>
                }
                else
                {
                        <td data-type="amount" class="grid-cell">@Html.DisplayFor(m => item.col4)@_pc</td>
                }                    
                @if (item.col5 == null)
                {
                        <td class="grid-cell">&nbsp;</td>
                }
                else
                { 
                        <td data-type="amount" class="grid-cell">@Html.DisplayFor(m => item.col5)@_pc</td>
                }                    
                    
            </tr>       
        t = item.vgroup;
    } 
}