@model IEnumerable<StrawmanApp.Models.MarketDataModels>
@{  
    Html.RenderPartial("~/Views/StrawmanViews/MasterTable/_BlankRow.cshtml", new ViewDataDictionary{{"colspan",2}});
    decimal? t = 0;
    IEnumerable<StrawmanApp.Models.MarketDataModels> data = (IEnumerable<StrawmanApp.Models.MarketDataModels>) ViewBag.MarketData;
    foreach (StrawmanApp.Models.MarketDataModels item in data)
    {
        string _style = "text-align:center;" + item.style;
        StrawmanApp.Models.MarketDataModels mod = data.Last(m=>m.channel== item.channel);
        if (item.vorder != item.vgroup && !item.source.Contains("CHANNEL") && mod != item)
        {
            <tr class="grid-row" style="text-align:center;"> 
                <td class="grid-cell" style="text-align: right; font-weight:bold;">@Html.DisplayFor(m=>item.market_name)</td>
                <!--<td class="grid-cell">@Html.DisplayFor(m=>item.data)</td>-->
                <!--<td class="grid-cell">@Html.DisplayFor(m=>item.source)</td>-->
                <td class="grid-cell" style="text-align: right; font-weight:bold;">@Html.DisplayFor(m=>item.brand_name)</td>
            </tr>
        }else{
            <tr class="grid-row" @{Html.RenderPartial("~/Views/StrawmanViews/MasterTable/_TrStyle.cshtml", new ViewDataDictionary { { "_style", _style }, { "group", item.vgroup }, { "order", item.vorder },{"market",item.market} });}> 
                <td colspan="2" class="grid-cell" style="text-align: right; font-weight:bold;">@Html.DisplayFor(m => item.market_name)</td>
            </tr>        
            if (item.vorder > item.vgroup || mod == item)
            {
                Html.RenderPartial("~/Views/StrawmanViews/MasterTable/_BlankRow.cshtml", new ViewDataDictionary { { "colspan", 2 } }); 
            }
        }
        
        t = item.vgroup;
    }
}