@model StrawmanApp.Models.BoyMassMarketModels
@{string nname, tname = null;
    StrawmanApp.Models.BoyMassMarketModels item = Model;
    {
        bool _market = (bool)(ViewData["market"]);
        bool _share = (bool)(ViewData["share"]);
        bool _sellout = (bool)(ViewData["sellout"]);
        bool _sellin = (bool)(ViewData["sellin"]);
        bool _rate = (bool)(ViewData["rate"]);

        <tbody> 
        @if (_market)
        {
        <tr class="grid-row" >
            <td class="grid-cell">@Html.DisplayFor(m => item.market_col1)</td>
            <td class="grid-cell">@Html.DisplayFor(m => item.market_col2)</td>
            <td class="grid-cell">@Html.DisplayFor(m => item.market_pc)%</td>
        </tr>
        }
        @if (_share)
        {
        <tr class="grid-row">
            <td class="grid-cell">@Html.DisplayFor(m => item.share_col1)%</td>
            <td class="grid-cell">@Html.DisplayFor(m => item.share_col2)%</td>
            <td class="grid-cell">@Html.DisplayFor(m => item.share_pc)</td>
        </tr>
        }
        @if (_sellout)
        {
        <tr class="grid-row">
            <td class="grid-cell">@Html.DisplayFor(m => item.sellout_col1)</td>
            <td class="grid-cell">@Html.DisplayFor(m => item.sellout_col2)</td>
            <td class="grid-cell">@Html.DisplayFor(m => item.sellout_pc)%</td>
        </tr>  
        }
        @if (_sellin)
        {
        <tr class="grid-row">
            <td class="grid-cell">@Html.DisplayFor(m => item.sellin_col1)</td>
            <td class="grid-cell">@Html.DisplayFor(m => item.sellin_col2)</td>
            <td class="grid-cell">@Html.DisplayFor(m => item.sellin_pc)%</td>
        </tr>  
        }
        @if (_rate)
        {
        <tr class="grid-row">
            <td class="grid-cell">@Html.DisplayFor(m => item.conversion_rate1)%</td>
            <td class="grid-cell">@Html.DisplayFor(m => item.conversion_rate2)%</td>
            <td class="grid-cell">&nbsp;</td>
        </tr>    
        }
    </tbody>      
}
