@model List<StrawmanApp.Models.Groups_Data>
@using GridMvc.Html;
@Html.Grid((List<StrawmanApp.Models.Groups_Data>)Model).Columns(columns =>
           {
               columns.Add().Encoded(false).Sanitized(false).SetWidth(10).Css("checkbox-control").RenderValueAs(o => @<input type="checkbox" data-type="select" data-value="@o.id" data-controller="GetConfigData" data-type-id="@o.type_id" data-group="@o.group_id"/>);
               columns.Add(foo => foo.name).Titled("NAME").Sortable(true);
                columns.Add(foo => foo.level).Titled("LEVEL").Sortable(true);
                columns.Add(foo => foo.base_id).Titled("BASE ID").Sortable(true);
                columns.Add().Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(o => @<button type="button" data-type="edit" data-target-id="@o.id" data-controller="GetEditForGroupMaster" class="btn btn-default">Edit</button>);
    })
