@model List<StrawmanApp.Models.MasterDataModels>
@using GridMvc.Html;    
@Html.Grid((List<StrawmanApp.Models.MasterDataModels>)Model).Columns(columns =>
        {
            columns.Add(foo => foo.channel_name).Titled("CHANNEL").Sortable(true);
            columns.Add(foo => foo.brand_name).Titled("MARKET/BRAND").Sortable(true);
            columns.Add(foo => foo.nts_name).Titled("NAME").Sortable(true);
            columns.Add(foo => foo.order).Titled("ORDER").Encoded(false).Sanitized(false).RenderValueAs(o=> Html.DropDownListFor(m=>o.order, new SelectList(o.order_list, "Value", "Text", o.order), new { @class = "form-control" }).ToHtmlString());
            columns.Add(foo => foo.market_calc_name).Titled("MARKET CALC").Encoded(false).Sanitized(false).RenderValueAs(o => Html.DropDownListFor(m => o.market_calc, new SelectList(o.calc_list, "Value", "Text", o.market_calc), new { @class = "form-control" }).ToHtmlString());
            columns.Add(foo => foo.brand_calc_name).Titled("SELLOUT CALC").Encoded(false).Sanitized(false).RenderValueAs(o => Html.DropDownListFor(m => o.brand_calc, new SelectList(o.calc_list, "Value", "Text", o.brand_calc), new { @class = "form-control" }).ToHtmlString());
            columns.Add(foo => foo.nts_calc_name).Titled("SELLIN CALC").Encoded(false).Sanitized(false).RenderValueAs(o => Html.DropDownListFor(m => o.nts_calc, new SelectList(o.calc_list, "Value", "Text", o.nts_calc), new { @class = "form-control" }).ToHtmlString());
            columns.Add(foo => foo.config_name).Titled("CONSOLIDE").Encoded(false).Sanitized(false).RenderValueAs(o => Html.DropDownListFor(m => o.config, new SelectList(o.config_list, "Value", "Text", o.config), new { @class = "form-control" }).ToHtmlString());
            columns.Add().Encoded(false).Sanitized(false).SetWidth("5%").RenderValueAs(o =>
            @<div>
                <button type="button" data-type="save" data-target-id="@o.id" data-controller="Save" class="btn btn-success" title="Save"><li class="fa fa-save"></li></button>
                <button type="button" data-type="delete" data-target-id="@o.id" data-controller="DeleteGroup" class="btn btn-danger" title ="Delete" data-source="GROUP_CONFIG"><li class="fa fa-trash-o"></li></button>
                <button type="button" data-type="close" data-target-id="@o.id" data-controller="close" class="btn btn-defalult" title="Close"><li class="fa fa-times"></li></button>
                @Html.HiddenFor(m=>o.id)
                @Html.HiddenFor(m=>o.type)
            </div>);
})