@model StrawmanApp.Models.BOYFormModel
@{

    StrawmanApp.Models.BOYFormModel _model = Model;

    StrawmanApp.Models.BoyMassMarketModels item = new StrawmanApp.Models.BoyMassMarketModels();
    
    StrawmanApp.Models.BoyMassMarketModels itemx = Model.item;

        bool _market = (bool)(itemx.market_col1 != null);
        bool _share = (bool)(itemx.share_col1 != null);
        bool _sellout = (bool)(itemx.sellout_col1 != null);
        bool _sellin = (bool)(itemx.sellin_col1 != null);
        int out_id = 0;
        string _name = (itemx.boy_name != null) ? itemx.boy_name : itemx.brand_name;
        
        if (_model.INT != null || _model.BTG != null || _model.PBP != null)
        {        
        <table>
            <thead>
            <tr class="blue">
                <th rowspan = "2" style="text-align:left; vertical-align:top;width:20%;"><label>@_name</label><br />@Html.DisplayFor(m=>itemx.brand_name)</th>
                <th colspan="2" ><label>INT</label></th>
                <th colspan="3" ><label>BTG/LE</label></th>
                <th colspan="2" ><label>PBP</label></th>
            </tr>
            <tr class="pale-blue">
                <th><label>%</label></th><th>INT</th>
                <th><label>%</label></th><th>BTG</th><th>LE</th>
                <th><label>%</label></th><th>PBP</th>
            </tr>
            </thead>
            <tbody>
            @if (_market)
            {
            <tr> 
            @{        
                item = _model.INT;
           
            <td><label style="margin-right:2%; text-align:right;">Market</label></td>
                if (item != null)
                {
            <td>@Html.TextBox( "market_pc", item.market_pc, "{0:0.00}%", new { control_type = "txt_boy_cfg", control_column_type = "MARKET_INT", control_target_type = "market_col1", control_target_url = "CalcBoyCfg", param_id = int.TryParse(item.market_id.ToString(), out out_id) ? out_id : 0, param_brand = item.brand, param_channel = item.channel, param_market = item.market })</td>
            <td>@Html.TextBox("market_col1",item.market_col1, "{0:N0}", new { control_type = "txt_boy_cfg", control_column_type = "MARKET_INT", control_target_type = "market_col1", control_target_url = "CalcBoyCfg", param_id = item.market_id, param_brand = item.brand, param_channel = item.channel, param_market = item.market })
            @Html.Hidden( "INT.market_id",  _model.INT.market_id)</td>        
                }

                item = _model.BTG;

                if (item != null)
                {        
            <td>@Html.TextBox("market_pc",item.market_pc, "{0:0.00}%", new { control_type = "txt_boy_cfg", control_column_type = "MARKET_LE", control_target_type = "market_col1", control_target_url = "CalcBoyCfg", param_id = item.market_id, param_brand = item.brand, param_channel = item.channel, param_market = item.market })</td>            
            <td>@Html.TextBox("market_col2", item.market_col2, "{0:N0}", new { control_type = "txt_boy_cfg", control_column_type = "MARKET_LE", control_target_type = "market_pc", control_target_url = "CalcBoyCfg", param_id = item.market_id, param_brand = item.brand, param_channel = item.channel, param_market = item.market })</td>                
            <td>@Html.TextBox("market_col1", item.market_col1, "{0:N0}", new { control_type = "txt_boy_cfg", control_column_type = "MARKET_LE", control_target_type = "market_pc", control_target_url = "CalcBoyCfg", param_id = item.market_id, param_brand = item.brand, param_channel = item.channel, param_market = item.market })
            @Html.Hidden( "BTG.market_id",  item.market_id)</td>            
                }
                item = _model.PBP;
                if (item != null)
                {
        
            <td>@Html.TextBox("market_pc", item.market_pc, "{0:0.00}%", new { control_type = "txt_boy_cfg", control_column_type = "MARKET_PBP", control_target_type = "market_col1", control_target_url = "CalcBoyCfg", param_id = item.market_id, param_brand = item.brand, param_channel = item.channel, param_market = item.market })</td>
            <td>@Html.TextBox("market_pc", item.market_col1, "{0:N0}", new { control_type = "txt_boy_cfg", control_column_type = "MARKET_PBP", control_target_type = "market_pc", control_target_url = "CalcBoyCfg", param_id = item.market_id, param_brand = item.brand, param_channel = item.channel, param_market = item.market })
            @Html.Hidden( "PBP.market_id",  item.market_id)</td>        

                }
            }
            </tr>
            }
            @if (_sellout)
            {
            <tr>
            @{
                item = _model.INT;
                if (item != null)
                {
            <td><label style="margin-right:2%; text-align:right;">Sell out</label></td>
                    
            
                <td>@Html.TextBox( "sellout_pc",  item.sellout_pc, "{0:0.00}%", new { control_type = "txt_boy_cfg", control_column_type = "SELLOUT_INT", control_target_type = "market_col1", control_target_url = "CalcBoyCfg", param_id = item.sellout_id, param_brand = item.brand, param_channel = item.channel, param_market = item.market })</td>
                <td>@Html.TextBox( "sellout_col1",  item.sellout_col1, "{0:N0}", new { control_type = "txt_boy_cfg", control_column_type = "SELLOUT_INT", control_target_type = "market_col1", control_target_url = "CalcBoyCfg", param_id = item.sellout_id, param_brand = item.brand, param_channel = item.channel, param_market = item.market })
                @Html.Hidden( "INT.sellout_id",  item.sellout_id)</td>       
            
                    
                }
                item = _model.BTG;
                if (item != null)
                {

                <td>@Html.TextBox( "sellout_pc",  item.sellout_pc, "{0:0.00}%", new { control_type = "txt_boy_cfg", control_column_type = "SELLOUT_LE", control_target_type = "market_col1", control_target_url = "CalcBoyCfg", param_id = item.sellout_id, param_brand = item.brand, param_channel = item.channel, param_market = item.market })</td>
                <td>@Html.TextBox( "sellout_col2",  item.sellout_col2, "{0:N0}", new { control_type = "txt_boy_cfg", control_column_type = "SELLOUT_LE", control_target_type = "market_col1", control_target_url = "CalcBoyCfg", param_id = item.sellout_id, param_brand = item.brand, param_channel = item.channel, param_market = item.market })</td>                   
                <td>@Html.TextBox( "sellout_col1",  item.sellout_col1, "{0:N0}", new { control_type = "txt_boy_cfg", control_column_type = "SELLOUT_LE", control_target_type = "market_col1", control_target_url = "CalcBoyCfg", param_id = item.sellout_id, param_brand = item.brand, param_channel = item.channel, param_market = item.market })
                @Html.Hidden( "BTG.sellout_id",  item.sellout_id)</td>            
 
                    
                    item = _model.PBP;
                }
                if (item != null)
                {
        
            <td>@Html.TextBox( "sellout_pc",  item.sellout_pc, "{0:0.00}%", new { control_type = "txt_boy_cfg", control_column_type = "SELLOUT_PBP", control_target_type = "market_col1", control_target_url = "CalcBoyCfg", param_id = item.sellout_id, param_brand = item.brand, param_channel = item.channel, param_market = item.market })</td>
            <td>@Html.TextBox( "sellout_col1",  item.sellout_col1, "{0:N0}", new { control_type = "txt_boy_cfg", control_column_type = "SELLOUT_PBP", control_target_type = "market_col1", control_target_url = "CalcBoyCfg", param_id = item.sellout_id, param_brand = item.brand, param_channel = item.channel, param_market = item.market })
            @Html.Hidden( "PBP.sellout_id",  item.sellout_id)</td>       
                            
                }
            }
            </tr>
            }
            @if (_sellin)
            {
            <tr>
            @{
                item = _model.INT;
                if (item != null)
                {
            <td><label style="margin-right:2%; text-align:right;">Sell in</label></td>         
                <td>@Html.TextBox( "sellin_pc",  item.sellin_pc, "{0:0.00}%", new { control_type = "txt_boy_cfg", control_column_type = "SELLIN_INT", control_target_type = "market_col1", control_target_url = "CalcBoyCfg", param_id = item.sellin_id, param_brand = item.brand, param_channel = item.channel, param_market = item.market })</td>
                <td>@Html.TextBox( "sellin_col1",  item.sellin_col1, "{0:N0}", new { control_type = "txt_boy_cfg", control_column_type = "SELLIN_INT", control_target_type = "market_col1", control_target_url = "CalcBoyCfg", param_id = item.sellin_id, param_brand = item.brand, param_channel = item.channel, param_market = item.market })
                @Html.Hidden( "INT.sellin_id",  item.sellin_id)</td>        
                    
                }
                item = _model.BTG;
                if (item != null)
                {

            <td>@Html.TextBox( "sellin_pc",  item.sellin_pc, "{0:0.00}%", new { control_type = "txt_boy_cfg", control_column_type = "SELLIN_LE", control_target_type = "market_col1", control_target_url = "CalcBoyCfg", param_id = item.sellin_id, param_brand = item.brand, param_channel = item.channel, param_market = item.market })</td>
            <td>@Html.TextBox( "sellin_col2",  item.sellin_col2, "{0:N0}", new { control_type = "txt_boy_cfg", control_column_type = "SELLIN_LE", control_target_type = "market_col1", control_target_url = "CalcBoyCfg", param_id = item.sellin_id, param_brand = item.brand, param_channel = item.channel, param_market = item.market })</td>                
            <td>@Html.TextBox( "sellin_col1",  item.sellin_col1, "{0:N0}", new { control_type = "txt_boy_cfg", control_column_type = "SELLIN_LE", control_target_type = "market_col1", control_target_url = "CalcBoyCfg", param_id = item.sellin_id, param_brand = item.brand, param_channel = item.channel, param_market = item.market })
            @Html.Hidden( "BTG.sellin_id",  item.sellin_id)</td>            
                    
                }
                item = _model.PBP;
                if (item != null)
                {

            <td>@Html.TextBox( "sellin_pc",  item.sellin_pc, "{0:0.00}%", new { control_type = "txt_boy_cfg", control_column_type = "SELLIN_PBP", control_target_type = "market_col1", control_target_url = "CalcBoyCfg", param_id = item.sellin_id, param_brand = item.brand, param_channel = item.channel, param_market = item.market })</td>
            <td>@Html.TextBox( "sellin_col1",  item.sellin_col1, "{0:N0}", new { control_type = "txt_boy_cfg", control_column_type = "SELLIN_PBP", control_target_type = "market_col1", control_target_url = "CalcBoyCfg", param_id = item.sellin_id, param_brand = item.brand, param_channel = item.channel, param_market = item.market })
            @Html.Hidden( "PBP.sellin_id",  item.sellin_id)</td>        

                    
                }
            }
            </tr> 
            }       
            </tbody>
            <tfoot>
              <tr class="light-grey" style="background-color: #f6f6f6;">
              <td style="text-align:center;" colspan="8">
                &nbsp;
              </td>
              </tr>
            </tfoot>
        </table>

    }        
}