@model StrawmanApp.Models.LoaderViewModels
@{
    ViewBag.Title = "LoaderView";
    Layout = "~/Views/Shared/_StrwLayout.cshtml";
}
<div style="width:100%;height:100%;padding-top:5px;">
<div class="panel panel-default form-wrapper" style="width:100%;">
@{
    string _filename = Model.fileName;
    int _filetype = Model.fileType;
    using(Ajax.BeginForm("UploadFile","Forms",new AjaxOptions(){HttpMethod = "POST"}, new{enctype="multipart/form-data"})){

        StrawmanApp.Models.DropDownListModels ddl = Model.ddl;
    <div>@ViewBag.Message</div>
        if (ddl != null)
        {
            <div class="float-left" style="width: 30%;margin-right: 10px;">@Html.DropDownListFor(m => ddl.SelectedItemId, new SelectList(ddl.Items, "Value", "Text",_filetype),new { @class = "form-control"})</div>
        }
    <div class="form-control float-left" style="margin-right: 10px;padding:0;width: 50%;"><input type ="file" name ="file" style="margin: 0 auto;" title="Examinar"  /></div>
        <div class="btn-group float-left" > 
            <input type ="submit" value="Upload file" class="btn btn-default" style="font-size:15px;margin-top: 0;border-color: #3c9a5f;padding: 8px 12px;"/>
            @if (Model.isUpdated)
            {
            <button class="btn btn-success" data-type ="submit_data" data-file-name ="@_filename" data-file-type="@_filetype"><li class="fa fa-cog"></li> Run loader</button>
            <script lang="javascript" type="text/javascript">$(document).ready(function () { LoadData('ProcessFile', 'Forms', '@_filename', '@_filetype'); });</script>
            }
        </div>
        <div class="">
        @if (Model.onError)
        {
             @Html.DisplayText(Model.errorMsg);
        }
        </div>
        <div class="clear" style="clear:both;"></div>
    }
}
</div>
    @if(Model.isUpdated){
        Html.RenderPartial("~/Views/Config/_LoadConfig.cshtml");
    }
</div>