@model List<StrawmanApp.Entities.BrandCategorisationModel>
@{
    <table class="table table-striped grid-table">
    <tr class="grid-row">
        <td class="grid-cell" colspan="2" rowspan="2" style="text-align:center;vertical-align:middle; font-weight:bold;">Date:</td>
        <td class="grid-cell" style="text-align:right;">Nielsen:</td>        
        <td class="grid-cell">@ViewBag.PeriodMonth</td>
    </tr>
    <tr class="grid-row">
        <td class="grid-cell" style="text-align:right;">IMS:</td>
        <td class="grid-cell">@ViewBag.PeriodMonth</td>
    </tr>
    <tr class="grid-row">
        <td class="grid-cell" style="text-align:center;" colspan="2">YTD <strong>Share</strong></td>
        <td class="grid-cell" style="text-align:center;">Share</td>
        <td class="grid-cell" style="text-align:center;">Category</td>
    </tr>
    <tr class="grid-row">
        <td class="grid-cell" rowspan="2" style="text-align:center;text-decoration:underline;min-width:65px;border-color:transparent transparent rgb(220,220,220);vertical-align:middle;">Act</td>
        <td class="grid-cell" rowspan="2" style="text-align:center;text-decoration:underline;min-width:65px;border-color:transparent transparent rgb(220,220,220);vertical-align:middle;">PY</td>
        <td class="grid-cell" style="text-align:center;text-decoration:underline;min-width:65px;border-color:transparent;">YTD</td>
        <td class="grid-cell" style="text-align:center;text-decoration:underline;min-width:65px;border-color:transparent;">YTD</td>
    </tr>
    <tr>
        <td class="grid-cell" style="text-align:center;text-decoration:underline;min-width:65px;border-color:transparent transparent rgb(220,220,220);">Share vs PY</td>
        <td class="grid-cell" style="text-align:center;text-decoration:underline;min-width:65px;border-color:transparent transparent rgb(220,220,220);">Category vs PY</td>
    </tr>
    @foreach(StrawmanApp.Entities.BrandCategorisationModel item in ViewBag.Header){
        string _style = "";
        StrawmanApp.Entities.BrandCategorisationModel aux = Model.Find(m=>m.id == item.id);
        if (item.order > 9000)
        {
            _style = "font-weight:bold;border-bottom:2px solid rgb(0,0,0);";
        }
        <tr class="grid-row">
        <td class="grid-cell" style="text-align:center;border-color:rgb(220,220,220);@_style">@Html.DisplayFor(m => aux.act)</td>
        <td class="grid-cell" style="text-align:center;border-color:rgb(220,220,220);@_style">@Html.DisplayFor(m => aux.py)</td>

        <td class="grid-cell" style="text-align:center;border-color:rgb(220,220,220);@_style">@Html.DisplayFor(m => aux.ytd_share_vspy)</td>
        <td class="grid-cell" style="text-align:center;border-color:rgb(220,220,220);@_style">@Html.DisplayFor(m => aux.ytd_category_vspy)</td>
        </tr>
        if (item.order > 9000)
        {
            <tr><td style="height:5px;border-color:transparent;border-bottom-color:rgb(220,220,220);" colspan="4"></td></tr>
        }
    }
    </table>
}