@model List<StrawmanApp.Entities.BrandCategorisationModel>
<table class="table table-striped grid-table">
<tr><td colspan = "2" style="border-color:transparent;">@ViewBag.BrandCatCountry</td></tr>
<tr><td colspan = "2" style="border-color:transparent;">@ViewBag.BrandCatText1</td></tr>
<tr><td colspan = "2" style="border-color:transparent;">@ViewBag.BrandCatText2</td></tr>
<tr><td colspan = "2" style="border-color:transparent;">&nbsp;</td></tr>
<tr><td style="border-color:transparent;"></td><td style="border-color:transparent;border-bottom-color:rgb(220,220,220);"><u><strong>Brand:</strong></u></td></tr>
@{
    string title ="";
    foreach (StrawmanApp.Entities.BrandCategorisationModel item in Model)
    {
        string _style = "";
        <tr class="grid-row">
        @if (title != item.group_name)
        {
            <td class="grid-cell" style="border-color:transparent;border-right-color:rgb(220,220,220);"><i>@Html.DisplayFor(m => item.group_name)</i></td>
        }
        else
        {        
            <td class="grid-cell" style="border-color:transparent;border-right-color:rgb(220,220,220);">&nbsp;</td>
        }
        @if (item.order > 9000)
        {
            _style = "font-weight:bold;border-bottom:2px solid rgb(0,0,0);";
        }
        <td class="grid-cell" style="border-color:rgb(220,220,220);border-right-color:transparent;@_style">@Html.DisplayFor(m=>item.name)</td>
        </tr>
        if (item.order > 9000)
        {
            <tr><td style="height:5px;border-color:transparent;"></td><td style="border-color:transparent;border-bottom-color:rgb(220,220,220);"></td></tr>
        }
        title = item.group_name;
    }
}
</table>